{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary mt-3">Search</button>
</form>

<br>

{% if chart %}
<img src="data:image/png;base64, {{ chart | safe }}">
{% endif %}

<br>

{% if sales_df %}
{{ sales_df | safe }}
<br>
{{ positions_df | safe }}
<br>
{{ merged_df | safe }}
<br>
{{ df | safe }}
{% else %}
<h3>No data</h3>
{% endif %}

{% endblock %}