.not-visible {
    display: none;
}

.dz {
    border-style: dashed;
    border-color: #dddddd;
    border-radius: 5px;
    transition: 0.5s;
}

.dz:hover {
    background-color: #f5f5f5;
}

.avatar-big {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
