.not-visible {
    display: none;
}

.dz {
    border-style: dashed;
    border-color: #dddddd;
    border-radius: 5px;
    transition: 0.5s;
}

.dz:hover {
    background-color: #f5f5f5;
}

.avatar-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-big {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.logo-sm {
    height: 40px;
    width: auto;
}

.nav-item .active {
    border-bottom: 2px solid #000000;
    font-weight: bold;
}

.customer-logo {
    border-radius: 50%;
}
